@import url('https://rsms.me/inter/inter.css');

.line {
  fill: none;
  stroke: grey;
  stroke-width: 2px;
}

body {
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 2ch;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

p {
  max-width: 70ch;
  margin: 1rem auto;
}

.state {
  color: #f23074;
}

#map {
  max-height: 400px
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h2 {
  margin-bottom: 0;
}
